<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.restotesis.mozo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".actividades.PedidosActivity"
            android:label="@string/title_activity_pedidos" >
        </activity>
        <activity
            android:name=".actividades.Login"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividades.MesaActivity"
            android:label="@string/title_activity_mesa" >
        </activity>
        <activity
            android:name=".actividades.ProductosActivity"
            android:label="@string/title_activity_productos" >
        </activity>
        <activity
            android:name=".actividades.EleccionActivity"
            android:label="@string/title_activity_eleccion" >
        </activity>
        <activity
            android:name=".actividades.EliminarProductoActivity"
            android:label="@string/title_activity_eliminar_producto" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

</manifest>